services:
  db:
    image: pgvector/pgvector:pg16
    container_name: radio-app-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    depends_on:
      - db
    restart: always

  studio:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: prisma-studio
    working_dir: /app
    env_file:
      - ./backend/.env
    ports:
      - "5555:5555"
    command: npx prisma studio --port 5555 --hostname 0.0.0.0 --browser none
    depends_on:
      - db

volumes:
  postgres_data:
